repos:
  - repo: local
    hooks: 
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [pyhton]
        args: 
        [
          "-rn", # Only display messages
          "-sn", # Don't display the score
          "--rcfile=.pylintrc", # Link to your config file
          "--load-plugins=pylint.extension.docparams", # Load an extension
        ]
